In [1]:
import pandas as pd

In [42]:
MENU_LATEST = 'master_menu/menu.csv'

df = pd.read_csv(MENU_LATEST)

df.head(3)

,group,timestamp,name,items,week_num,items_recipe_num,pk
0,afterlunch,2022-03-20 14:30:00Z,"Afterlunch on Sunday, March 20, 2022",[],11,[],1000
1,breakfast,2022-03-20 07:30:00Z,"Breakfast on Sunday, March 20, 2022",[],11,[],1001
2,dinner,2022-03-20 16:30:00Z,"Dinner on Sunday, March 20, 2022",[],11,[],1002

In [43]:
df['items'] = df['items'].apply(lambda x:eval(x))
df['items_recipe_num'] = df['items_recipe_num'].apply(lambda x: eval(x))

In [46]:
row_index = []
for index, row in df.iterrows():
    if len(row['items']) == 0 and len(row['items_recipe_num'])>0:
        row_index.append(index)

In [47]:
print(row_index)

[8, 24, 28, 52, 56]

In [52]:
df.loc[row_index]

,group,timestamp,name,items,week_num,items_recipe_num,pk
8,afterlunch,2022-03-22 14:30:00Z,"Afterlunch on Tuesday, March 22, 2022",[],11,"[47527.3, 138463, 26162, 102407, 44726.1, 8225...",1008
24,afterlunch,2022-03-26 14:30:00Z,"Afterlunch on Saturday, March 26, 2022",[],11,"[102407, 44726.1, 82258.7, 14920]",1024
28,afterlunch,2022-03-27 14:30:00Z,"Afterlunch on Sunday, March 27, 2022",[],12,"[102407, 44726.1, 14920, 82258.7]",1028
52,afterlunch,2022-04-02 14:30:00Z,"Afterlunch on Saturday, April 02, 2022",[],12,"[102407, 44726.1, 82258.7, 14920, 103643.1, 10...",1052
56,afterlunch,2022-04-03 14:30:00Z,"Afterlunch on Sunday, April 03, 2022",[],13,"[102407, 44726.1, 14920, 82258.7]",1056